.img {
  display: flex;
}
.Homeku {
  display: flex;
}
body {
  background-image: url("../detik.jpg");
  background-size: cover;
}
.gambar {
  position: fixed;
  height: max-content;
}
.title {
  display: flex;
}
